name: Build with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    strategy:
      matrix:
        platform: [ ubuntu-latest ]
        java-version: [ 8 ]

    runs-on: ${{ matrix.platform }}
    env:
      PLATFORM: ${{ matrix.platform }}
      JAVA_VERSION: ${{ matrix.java-version }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          server-id: github-sihsalus-content
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN
      - name: Build with Maven
        id: build_with_maven
        run: |
          mvn clean verify --batch-mode --file pom.xml
      - name: Deploy to GitHub Packages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          mvn deploy --batch-mode --file pom.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
